@import 'variables.scss';


.about {
    position: relative;
    height: 100vh;
    background-color: $gray-text-1;

    .wrapper {
        display: flex;
        flex-direction: column;
        padding: 40px;
        height: 100%;

        h2 {
            text-align: center;
            font-family: $barlow;
            font-size: 32px;
            font-weight: 300;
            color: $branding-orange;
            text-transform: uppercase;
        }

        .about-me {
            position: relative;
            display: inline-block;
            text-align: left;

            p {
                font-family: $josefin-sans;
                font-weight: 200;
                font-size: 22px;
                color: white;
                cursor: default;
                margin-bottom: 8px;
                line-height: 1.3;
            }
        }

        .skills {
            display: flex;
            flex-direction: column;
            // width: 721px;
            // margin-top: 20px;
            // margin-left: 32px;

            .top {
                height: 38.5px;
                // background-color: orange;
                border-bottom: 1px solid $branding-orange;

                p {
                    font-family: $barlow;
                    font-size: 32px;
                    font-weight: 300;
                    color: $branding-orange;
                    text-transform: uppercase;
                }
            }

            .bottom {
                display: flex;
                height: 185px;
                // background-color: red;

                &-flex {
                    width: 25%;
                    height: 100%;
                }

                &-flex-4 {
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-end;
                    align-items: flex-end;

                    .skill {
                        margin: 0;
                        margin-left: 10px;
                    }
                }

                .skill {
                    display: flex;
                    flex-direction: row;
                    height: 35px;
                    margin-top: 7px;

                    &:first-of-type {
                        margin-top: 20px;
                    }

                    img {
                        width: 30px;
                        height: 30px;
                    }

                    p {
                        font-family: $josefin-sans;
                        font-size: 20px;
                        margin: auto 0;
                        margin-left: 9.4px;
                        color: white;
                    }
                }

                // endOf bottom
            }

            // endOf Skills
        }

        // endOf wrapper
    }

    .text-template {
        position: absolute;
        width: 375px;
        height: 395px;
        top: 0;
        right: 0;
        margin-top: 54px;
        margin-right: 88px;
    }

    // .about-workers {
    //     position: absolute;
    //     bottom: 0;
    //     right: 40px;
    //     height: 95.8%;
    //     width: auto;
    // }

    // endOf about
}

// .main-top {

// }

.main-bottom {
    display: flex;
    flex-direction: row;
    height: 100%;

    .about-left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 70%;
        padding-top: 100px;

        .about-me {
            width: 80%;
        }
    }

    .about-workers-div {
        display: flex;
        flex: 1;
        img {
            width: 100%;
            height: 100%;
        }
    }
}