$gray-text: #696969;
$gray-text-1: #3A3A3A;
$background-gray: #F8F8F8;
$branding-orange: #FFB81C;
$baby-blue: #3AB4DD;

$barlow: 'Barlow Semi Condensed', sans-serif;
$montserrat: "Montserrat", sans-serif;
$josefin-sans: "Montserrat", sans-serif;

$responsive-xl: 1366px;
$responsive-l: 1024px;
$responsive-m: 850px;